---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Adrián León Alonso">
	<Navbar active='index'/>
	<section class="section flex">
		<div class='info flex page'>
            <h1 class='name'>Asian sushi</h1>
            <h2 class="roles">Cocina tradicional asiatica</h2>
            <h2 class="roles">de alta calidad</h2>
        </div>
	</section>
</Layout>
